---
layout: layout
---

<style type="text/css">
  header.intro-header {
    <% if(config['jsdelivr']) { %>
      background-image: url('<%= config.jsdelivr.jsdelivr_url + config.jsdelivr.github_username + config.root + config.jsdelivr.github_username %>.github.io/<%= page["header-img"] %>');
    <% } else { %>
      background-image: url('<%= config.root %><%= page["header-img"] || config["header-img"] %>');
    <% } %>
  }
</style>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>404</h1>
                    <!--<hr class="small">-->
                    <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    document.body.classList.add('page-fullscreen');
</script>
