---
layout: page
---

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">
      <!-- 归档列表 -->

      <%
        var lang;
        var currentURL = page.path.split('/') ;
        if (currentURL.length === 1) {
          lang = page.lang ;
        } else {
          lang = currentURL.shift();
        }

        var years = {};
        site.posts.filter(function(post){
          return post.lang == lang;
        }).sort('date').reverse().forEach(function(post){
          var year = post.date.year()
          if(years[year]===undefined){
            years[year] = [];
          }
          years[year].push(post);
        });
      %>

      <!-- 归档列表 -->
      <% Object.keys(years).reverse().forEach(function(year){  %>
      <div class="one-tag-list">
        <span class="fa fa-calendar-times-o listing-seperator" id="<%= year %>">
          <span class="tag-text"><%= year %></span>
        </span>
        <ul>
          <% years[year].map(function(post){  %>
          <li>
            <%= post.date.format('MM-DD') %>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <a href="<%- config.root %><%- post.path %>" style="color: #0085a1">
              <span>
                <%- post.title || "Untitled" %>
              </span>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
      <% }) %>

    </div>
  </div>
</div>
