---
layout: layout
---
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <!-- 分类页面 -->

      <%
        // var lang;
        // var currentURL = page.path.split('/') ;
        // if (currentURL.length === 1) {
        //   lang = page.lang ;
        // } else {
        //   lang = currentURL.shift();
        // }
        //
        // var categories = site.categories.map(function(category){
        //   let cps = category.posts.filter(function(post){
        //     return post.lang == lang;
        //   });
        //   if(cps.length !== 0){
        //     let newCategory = Object.assign({},category);
        //     newCategory['posts'] = cps;
        //     return newCategory;
        //   }
        //   return;
        // }).filter(Boolean);
      %>

      <!-- 标签云 -->
      <div id='tag_cloud' class="tags">
        <% site.categories.map(function(category){  %>
        <a href="#<%= category.name %>" title="<%= category.name %>" rel="<%= category.length %>"><%= category.name %></a>
        <% }) %>
      </div>

      <!-- 标签列表 -->
      <% site.categories.map(function(category){  %>
      <div class="one-tag-list">
        <span class="fa fa-tag listing-seperator" id="<%= category.name %>">
          <span class="tag-text"><%= category.name %></span>
        </span>
        <% category.posts.map(function(post){  %>
        <!-- <li class="listing-item">
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </li> -->
        <div class="post-preview">
          <a href="<%- config.root %><%- post.path %>">
            <h2 class="post-title">
              <%- post.title || "Untitled" %>
              <% if(post.lang !== 'en'){ %>
              -- <%- post.lang %>
              <% } %>
            </h2>
            <% if (post.subtitle && post.subtitle.length) { %>
            <h3 class="post-subtitle">
              <%- post.subtitle %>
            </h3>
            <% } %>
          </a>
          <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
        </div>
        <hr>
        <% }) %>
      </div>
      <% }) %>

    </div>
  </div>
</div>
