<!DOCTYPE html>
<html lang="en">

<!-- Head tag (contains Google-Analytics、Baidu-Tongji)-->
<%- partial('_partial/head') %>

<!-- hack iOS CSS :active style -->
<% if (config.themecolor && config['themecolor']['enable'] && config['themecolor']['mode']) { %>
	<body ontouchstart="" class="body--light body--<%- config['themecolor']['mode'] %>">
<% } else { %>
	<body ontouchstart="" class="body--light">
<% } %>

		<!-- ThemeColor -->
		<% if (config.themecolor && config['themecolor']['enable']) { %>
		<%- partial('_partial/themecolor') %>
		<% } %>

		<!-- Gitter -->
		<% if(config.gitter){ %>
		<%- partial('_partial/gitter',{cache: true}) %>
		<% } %>

		<!-- Navigation (contains search)-->
		<%- partial('_partial/nav',{cache: true}) %>

		<!-- Post Header (contains intro-header、signature、wordcount、busuanzi、waveoverlay) -->
		<%- partial('_partial/header',{cache: true}) %>

		<!-- Main Content (Post contains
	Pager、
	tip、
	socialshare、
	gitalk、gitment、disqus-comment、
	Catalog、
	Sidebar、
	Featured-Tags、
	Friends Blog、
	anchorjs、
	) -->
		<%- body %>

		<!-- Footer (contains ThemeColor、viewer) -->
		<%- partial('_partial/footer',{cache: true}) %>

		<!-- Search -->
		<% if (config.search) { %>
		<%- partial('_partial/search') %>
		<% } %>
	</body>
</html>
