<!-- RECENT POSTS -->
<% if (site.posts.length){ %>
<h5><a href="<%= config.root %><%= page.lang %>"><%= __('recent_posts') %></a></h5>
<div class="widget">

  <%
    var lang;
    var currentURL = page.path.split('/') ;
    if (currentURL.length === 1) {
      lang = page.lang ;
    } else {
      lang = currentURL.shift();
    }

    var posts = site.posts.filter(function(post){
      return post.lang == lang;
    });
  %>

  <ul>
    <% posts.sort('date', -1).limit(5).each(function(post){ %>
    <a href="<%- url_for(post.path) %>">
      <li><%= post.title || '(no title)' %></li>
    </a>
    <% }) %>
  </ul>
</div>
<% } %>
